* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Estilos del header*/

header{
    transition: all 800ms;
    display: flex;
    width: 100%;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    position: sticky;
    z-index: 5;
    top: 0;
}

header.abajo{
    transition: all 800ms;
    background-color: #000000cc;
}

header .logo > a img{
    cursor: pointer;
    width: 140px;
    height: 140px;
    border-radius: 100%;
}

.lista-redes{
    width: 24%;
}

.lista-redes > ul{
    /*display: flex;*/
    list-style: none;
    box-sizing: border-box;
}

.lista-redes ul li {
    display: inline-block;
    margin: 5%;
}

.lista-redes > ul li > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

ul li > a:hover{
    text-shadow: 3px 2px 3px black inherit;
    color: #bfbfbf;
    padding-bottom: 7px; /* Añade un espacio entre el subrayado y el texto*/
    border-bottom: 1px solid #bfbfbf;
    transition: all 400ms;
}

/* Estilos del encabezado */

#encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
       ),
       url(../../img/principal2.jpeg);
    background-position: 45%;
    background-size: 1600px 900px;
    background-repeat: no-repeat;
    height: 809px;
    margin-top: -130px;
}


/*Estilos de la presentacion*/

#encabezado #presentacion{
    display: grid;
    justify-items: center;
    /*text-align: center;*/
    filter: brightness(1);
    width: 41.5%; 
    color: #ffffff;
    margin: 0;
}

#encabezado  #presentacion > h1{
    font-size: 80px;
    padding-bottom: 50px;
    margin: 50px;
    border-bottom: 2px solid #bfbfbf;
}

#encabezado  #presentacion > h1:hover{
    transition: all 400ms;
    cursor: pointer;
    opacity: 0.8;
}

#encabezado  #presentacion > p{
    padding-bottom: 50px;
}


#encabezado #presentacion > button{
    width: 110px;
    height: 60px;
    border: 2px solid white;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

#encabezado  #presentacion > button:hover{
    transition: all 500ms;
    background-color: #52b1a9;
    border: none;
}

/*GODOWN*/

.go-down-container{
    position: absolute;
    height: 50px;
    width: 100px;
    margin-top: 670px;
    margin-left: auto;
    margin-right: auto;
}

#go-down-button{
    width: 50%;
    margin-left: 12.5px;
    color: white;
}

#go-down-button i{
    font-size: 80px;
    color: white;
    cursor: pointer;
}


/* Estilos del titulo inicio*/
#titulo > h1{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 70px;
}


/*Estilos de la section acercademi*/

#AcercaDeMi{
    display: grid;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
    grid-template-columns: 1fr 1fr; /* Crea dos columnas de igual tamaño */
    grid-template-rows: auto auto;
    gap: 10px;
    justify-items: center;
}


#AcercaDeMi > h2 {
    font-size: 35px;
    margin-bottom: 20px;
    grid-column: 1 / span 2; /* El título ocupa las dos columnas */
}

#AcercaDeMi > img {
    margin: 0px;
    width: 100%;
    height: auto;
}

#AcercaDeMi > p {
    width: 100%;
    height: 100%;
    padding: 10px 0px 0px 50px;
    line-height: 1.7em;
}




/* CSS de la section de youtube */
#youtube-channel{
    display: grid;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
}

#youtube-channel > h1{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}


#youtube-channel #videos-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#youtube-channel #videos-container > iframe{
    margin: 20px;
    border-radius: 10px;
}


#youtube-channel #videos-container > iframe:hover{
    transition: all 300ms;
    margin-bottom: 18px;
    box-shadow: 0px 0px 10px black;
}


/* Estilos del footer*/


#footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #000000d0;
    color: #d2d2d2;
}

#footer > p{
    margin-left: auto;
    margin-right: auto;
}

#footer > p a{
    text-decoration: none;
    color: #bddfdf;
}

#footer > p a:hover{
    transition: all 300ms;
    text-shadow: 0px 0px 10px black;
}